 let's talk about a book
            
            </h1>
        <img height="600" width="800" src="C:\Users\dokhalil\Desktop\1_YLlZ96J3p8GFkIh1USVMzg.jpeg" alt="books"/>
    </header>
    <br>
    <small>author khalili dounia,at <date>01/04/2020</date></small>
    <br>
    
    Today we will talk about a famous book witch every one schould read it.
    this book will change your thoughts about life
    and will learn how to live in safety with a inner peace.
    the book is entitled by "the subtitle art of not giving a fuck"
    <a href="#">read more</a>
</body>

<br>
to receive any news enter your email please!
<form  method="POST" >
    <div>
        <label>Email</label>
        <input type="text" name="email" placeholder="Enter email">
    </div>

</form>


</body>
